* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 150);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 50%;
  height: 40vh;
  padding: 2rem;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  font-size: 3rem;
}

.container p {
  font-size: 1rem;
}

.btn {
  padding: 1rem 2rem;
  color: white;
  background: red;
  outline: none;
  border: 2px solid white;
  border-radius: 0.5rem;
  transition: all 1s ease;
}

.btn:active {
  transform: scale(0.5);
}

.black {
  background: black;
}

.grey {
  background: rgb(88, 88, 88);
}

.btns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote {
  text-align: center;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 50%;
  height: 20vh;
}
